<div class="grid grid--1x3">
  <div class="plan">
    <div class="plan__header">
      <img class="plan__image" src="images/popular-1.png" alt="" />
    </div>
    <div class="plan__content">
      <h4 class="plan__name">Mongo Tango Sorbet</h4>
      <span class="plan__price">$5.49</span>
    </div>
  </div>
  <div class="plan">
    <div class="plan__header">
      <img class="plan__image" src="images/popular-2.png" alt="" />
    </div>
    <div class="plan__content">
      <h4 class="plan__name">Chocolate Fudge Delight</h4>
      <span class="plan__price">$5.99</span>
    </div>
  </div>
  <div class="plan">
    <div class="plan__header">
      <img class="plan__image" src="images/popular-3.png" alt="" />
    </div>
    <div class="plan__content">
      <h4 class="plan__name">Strawberry Swirl Bliss</h4>
      <span class="plan__price">$4.99</span>
    </div>
  </div>
</div>
