<div class="container">
  <div class="delivery">
    <div class="grid grid--1x2">
      <div class="delivery__image"></div>
      <div class="delivery__content">
        <h3 class="delivery__heading">
          Get Yummy Ice-Cream at a Reasonable Price
        </h3>
        <p class="delivery__description">
          Treat yourself to delightful ice creams without breaking the bank!
          Enjoy premium quality and mouthwatering flavors at prices that make
          every scoop worth it.
        </p>
        <div class="grid grid--1x3">
          <div class="card">
            <header class="card__image">
              <img src="images/banner-1.png" alt="" />
            </header>
            <div class="card__body">
              <span class="card__description">Fresh & Natural</span>
            </div>
          </div>
          <div class="card">
            <header class="card__image">
              <img src="images/banner-2.png" alt="" />
            </header>
            <div class="card__body">
              <span class="card__description">Quick Packaging</span>
            </div>
          </div>
          <div class="card">
            <header class="card__image">
              <img src="images/banner-3.png" alt="" />
            </header>
            <div class="card__body">
              <span class="card__description">Fast Delivery</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
