<div class="container">
  <div class="callout callout--pink">
    <div class="callout__content">
      <h4 class="callout__heading">Subscribe For Discounts</h4>
      <p class="callout__description">
        Don't miss out on sweet deals! Subscribe now to receive exclusive
        discounts and updates on our latest ice cream flavors and special
        offers.
      </p>
      <div class="input-group">
        <input type="text" class="input" placeholder="type your email" />
        <button class="btn btn--primary">Subscribe</button>
      </div>
    </div>
  </div>
</div>
