<header class="header">
  <nav class="nav">
    <a href="#" class="nav__brand"
      >Ice <span class="nav__brand--primary">World</span></a
    >
    <svg class="icon icon--white icon--small nav__toggler" id="nav__toggler">
      <use xlink:href="images/sprite.svg#bars"></use>
    </svg>
    <ul class="list" id="list">
      <li class="list__item"><a href="#">Home</a></li>
      <li class="list__item"><a href="#">Menu</a></li>
      <li class="list__item"><a href="#">Categories</a></li>
      <li class="list__item"><a href="#">Contact Us</a></li>
    </ul>
    <div class="nav__icons">
      <svg class="icon icon--smaller">
        <use xlink:href="images/sprite.svg#bell"></use>
      </svg>
      <svg class="icon icon--smaller">
        <use xlink:href="images/sprite.svg#shopping"></use>
      </svg>
    </div>
  </nav>
</header>
