<section class="block hero">
  <div class="container grid grid--1x2">
    <div class="hero__content">
      <h1 class="hero__heading">
        Welcome To Our
        <span class="hero__color--primary">Ice Cream</span> World
      </h1>
      <p class="hero__tagline">
        Indulge in a delightful journey of flavors! Discover creamy, delicious
        ice creams crafted to bring joy to every scoop. Welcome to your sweet
        escape!
      </p>
      <button class="btn btn--primary">buy now</button>
      <div class="hero__icons">
        <span class="icon-container">
          <svg class="icon icon--white icon--smaller">
            <use xlink:href="images/sprite.svg#facebook"></use>
          </svg>
        </span>
        <span class="icon-container">
          <svg class="icon icon--white icon--smaller">
            <use xlink:href="images/sprite.svg#twitter"></use>
          </svg>
        </span>
        <span class="icon-container">
          <svg class="icon icon--white icon--smaller">
            <use xlink:href="images/sprite.svg#pinterest"></use>
          </svg>
        </span>
        <span class="icon-container">
          <svg class="icon icon--white icon--smaller">
            <use xlink:href="images/sprite.svg#phone"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="hero__image">
      <img src="images/header.png" alt="" />
    </div>
  </div>
</section>
