<footer class="footer footer--gray">
  <div class="grid grid--1x3">
    <a href="#" class="nav__brand footer__brand"
      >Ice <span class="footer__brand--primary">World</span></a
    >

    <ul class="list" id="list">
      <li class="list__item"><a href="#">Home</a></li>
      <li class="list__item"><a href="#">Menu</a></li>
      <li class="list__item"><a href="#">Categories</a></li>
      <li class="list__item"><a href="#">Contact Us</a></li>
    </ul>

    <div class="hero__icons">
      <span class="icon-container">
        <svg class="icon icon--white icon--smaller">
          <use xlink:href="images/sprite.svg#facebook"></use>
        </svg>
      </span>
      <span class="icon-container">
        <svg class="icon icon--white icon--smaller">
          <use xlink:href="images/sprite.svg#twitter"></use>
        </svg>
      </span>
      <span class="icon-container">
        <svg class="icon icon--white icon--smaller">
          <use xlink:href="images/sprite.svg#pinterest"></use>
        </svg>
      </span>
      <span class="icon-container">
        <svg class="icon icon--white icon--smaller">
          <use xlink:href="images/sprite.svg#phone"></use>
        </svg>
      </span>
    </div>
  </div>
  <p class="copyright">
    Copyright &copy; 2025 Web Design Khanoo, All rights reserved
  </p>
</footer>
