<section class="container block">
  <div class="block__header">
    <h3 class="block__heading">Most Selling ice-Cream</h3>
    <p class="block__description">
      Discover our crowd favorites! These ice creams are loved by everyone and
      have become the top picks for their irresistible flavors and creamy
      textures.
    </p>
  </div>
  <div class="most-selling">
    <div class="grid grid--1x2">
      <div class="most-selling__img">
        <img src="images/discover-1.jpg" alt="" />
      </div>
      <div class="most-selling__content">
        <h4 class="most-selling__heading">Double Chocolate Crunch</h4>
        <p class="most-selling__description">
          Dive into a chocolate lover's paradise with our Double Chocolate
          Crunch. This rich and creamy ice cream is made with premium cocoa and
          blended with crunchy chocolate chunks to deliver a perfect balance of
          smoothness and texture.
        </p>
        <span class="most-selling__price"
          >$6.99 <sub class="most-selling__pre-price">$9.99</sub></span
        >
        <button class="btn btn--primary">buy now</button>
      </div>
    </div>
  </div>
  <div class="most-selling">
    <div class="grid grid--1x2">
      <div class="most-selling__content">
        <h4 class="most-selling__heading">Strawberry Cheesecake Bliss</h4>
        <p class="most-selling__description">
          Experience the perfect harmony of fruity and creamy with our
          Strawberry Cheesecake Bliss. Every spoonful feels like enjoying a
          slice of fresh strawberry cheesecake, making it an irresistible
          dessert.
        </p>
        <span class="most-selling__price"
          >$8.99 <sub class="most-selling__pre-price">$5.99</sub></span
        >
        <button class="btn btn--primary">buy now</button>
      </div>
      <div class="most-selling__img">
        <img src="images/discover-2.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="most-selling">
    <div class="grid grid--1x2">
      <div class="most-selling__img">
        <img src="images/discover-3.jpg" alt="" />
      </div>
      <div class="most-selling__content">
        <h4 class="most-selling__heading">Classic Cookies and Cream</h4>
        <p class="most-selling__description">
          Savor the timeless charm of our Classic Cookies and Cream ice cream.
          Made with velvety smooth vanilla ice cream, it is generously packed
          with chunks of chocolate cookies to create a delightful crunch in
          every bite.
        </p>
        <span class="most-selling__price"
          >$5.49 <sub class="most-selling__pre-price">$10.49</sub></span
        >
        <button class="btn btn--primary">buy now</button>
      </div>
    </div>
  </div>
  <div class="delivery">
    <div class="grid grid--1x2">
      <div class="delivery__content">
        <h3 class="delivery__heading">
          Get Yummy Ice-Cream at a Reasonable Price
        </h3>
        <p class="delivery__description">
          Treat yourself to delightful ice creams without breaking the bank!
          Enjoy premium quality and mouthwatering flavors at prices that make
          every scoop worth it.
        </p>
        <div class="grid grid--1x3">
          <div class="card">
            <header class="card__image">
              <img src="images/banner-1.png" alt="" />
            </header>
            <div class="card__body">
              <span class="card__description">Fresh & Natural</span>
            </div>
          </div>
          <div class="card">
            <header class="card__image">
              <img src="images/banner-2.png" alt="" />
            </header>
            <div class="card__body">
              <span class="card__description">Quick Packaging</span>
            </div>
          </div>
          <div class="card">
            <header class="card__image">
              <img src="images/banner-3.png" alt="" />
            </header>
            <div class="card__body">
              <span class="card__description">Fast Delivery</span>
            </div>
          </div>
        </div>
      </div>
      <div class="delivery__image"></div>
    </div>
  </div>
</section>
